/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  /* Container styles */
  .E_hype-details {
    max-width: 50%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* E_hype title styles */
  .E_hype-details h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Thumbnail image styles */
  .E_hype-details img {
    width: 50%;
    border-radius: 8px;
    cursor: pointer;
  }
  
  /* Rating and comment section styles */
  .rate-comment-section {
    margin-top: 20px;
  }
  
  /* Rating input styles */
  .rating input[type="radio"] {
    display: none;
  }
  
  .rating label {
    font-size: 40px;
    color: #ccc;
    cursor: pointer;
  }
  
  .rating label:hover,
  .rating label:hover ~ label {
    color: #ff0; /* Yellow color */
  }
  
  .rating input[type="radio"]:checked ~ label,
  .rating label:hover ~ input[type="radio"]:checked ~ label {
    color: #ff0; /* Yellow color */
  }
  
  /* Comments section styles */

  .comments {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .comments h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .comment {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  
  .comment p {
    margin-bottom: 5px;
  }
  
  /* Pagination styles */
  .pagination {
    margin-top: 20px;
  }
  
  .pagination a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f4f4f4;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 5px;
  }
  
  .pagination a:hover {
    background-color: #ddd;
  }
  .E_hype-details input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
  }
  .E_hype-details input[type="submit"]:hover {
    background-color: #0056b3;
  }