/* Irate Details Page CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
.Irate-details {
  max-width: 50%;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .Irate-details h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .Irate-details img {
    max-width: 50%;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  /* Rating Section CSS */
  .rating {
    margin-bottom: 20px;
  }
  
  .rating input[type="radio"] {
    display: none;
  }
  
  .rating label {
    font-size: 40px;
    color: #ccc;
    cursor: pointer;
  }
  
  .rating label:hover,
  .rating label:hover ~ label {
    color: #ff0; /* Yellow color */
  }
  
  .rating input[type="radio"]:checked ~ label,
  .rating label:hover ~ input[type="radio"]:checked ~ label {
    color: #ff0; /* Yellow color */
  }
  
  /* Comment Section CSS */
  .comments textarea {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .Irate-details input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
  }
  .Irate-details input[type="submit"]:hover {
    background-color: #0056b3;
  }
  .comments .comment {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  /* Pagination CSS */
  .pagination {
    text-align: center;
    margin-top: 20px;
  }
  
  .pagination a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin-right: 5px;
    text-decoration: none;
  }
  
  .pagination a:hover {
    background-color: #ccc;
  }
  

  