/* Add your custom styles for building details page here */

/* General styles */
.building-details {
    max-width: 55%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.building-details h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.building-details img {
    max-width: 50%;
    
    margin-bottom: 20px;
}

/* Rating section styles */
.rating {
    margin-bottom: 20px;
}

.rating input[type="radio"] {
    display: none;
}

.rating label {
    font-size: 40px;
    color: #ccc;
    cursor: pointer;
    margin-right: 5px;
}

.rating label:hover,
.rating label:hover ~ label {
    color: #ff0; /* Yellow color */
}

.rating input[type="radio"]:checked ~ label,
.rating label:hover ~ input[type="radio"]:checked ~ label {
    color: #ff0; /* Yellow color */
}

/* Comment section styles */
.comments {
    margin-bottom: 20px;
}

.comments textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    margin-bottom: 10px;
}

.building-details input[type="submit"] {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.building-details input[type="submit"]:hover {
    background-color: blue;
}

.comment {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.comment p {
    margin: 5px 0;
}

/* Pagination styles */
.pagination {
    margin-top: 20px;
}

.pagination a {
    padding: 8px 16px;
    text-decoration: none;
    color: #000;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 5px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}
