/* CSS styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .main-content {
    max-width: -50px;
    margin: 20px auto;
    border:5px solid blue;
    border-radius: 10px;
    margin-top: -20px;
   
  }
  .document-thumbnails {
    display: flex;
    flex-wrap: wrap;
  }
  .document-thumbnail {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }
  .document-thumbnail img {
    width: 100%;
    border-radius: 5px;
  }
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  .pagination button:hover {
    background-color: #0056b3;
  }
  /* Modal styles */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 100px;
  }
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 20%;
    border-radius: 5px;
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .upload-button {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  header {
    text-align: center; /* Align text (and inline elements) to the center */
    padding: 20px 0; /* Add some padding for better spacing */
    font-size: larger;
  }
  
  header h1 {
    margin: 0; /* Remove default margin */
  }
  /* CSS for fade-out animation */
.fade-out {
  transition: opacity 0.3s ease; /* Adjust the duration and easing as needed */
  opacity: 0;
}
.bordered-button {
  border: 1px solid #000;
  padding: 5px 10px;
  text-decoration: none;
  margin: 0 5px;
  color: #000;
}

.bordered-button:hover {
  background-color: #000;
  color: #fff;
}
